<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{coffeeShop.form.title}">Add or Edit Coffee Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page-container">
    <header>
        <div class="locale-switcher">
            <a href="?lang=en" class="locale-btn">English</a>
            <a href="?lang=ru" class="locale-btn">Русский</a>
        </div>
        <h1 th:if="${#strings.isEmpty(coffeeShop.id)}" th:text="#{coffeeShop.form.add}"></h1>
        <h1 th:if="${coffeeShop.id}" th:text="#{coffeeShop.form.edit}"></h1>
    </header>

    <form th:action="${#strings.isEmpty(coffeeShop.id) ? '/coffee-shops' : '/coffee-shops/edit/' + coffeeShop.id}" method="post">
        <label for="name" th:text="#{coffeeShop.form.name}">Coffee Shop Name:</label><br>
        <input type="text" id="name" name="name" th:value="${coffeeShop.name}" required><br><br>

        <label for="address" th:text="#{coffeeShop.form.address}">Address:</label><br>
        <input type="text" id="address" name="address" th:value="${coffeeShop.address}" required><br><br>

        <label for="phone" th:text="#{coffeeShop.form.phone}">Phone:</label><br>
        <input type="text" id="phone" name="phone" th:value="${coffeeShop.phone}"><br><br>

        <label for="email" th:text="#{coffeeShop.form.email}">Email:</label><br>
        <input type="email" id="email" name="email" th:value="${coffeeShop.email}"><br><br>

        <label for="website" th:text="#{coffeeShop.form.website}">Website:</label><br>
        <input type="url" id="website" name="website" th:value="${coffeeShop.website}"><br><br>

        <label for="description" th:text="#{coffeeShop.form.description}">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" th:text="${coffeeShop.description}"></textarea><br><br>

        <label for="rating" th:text="#{coffeeShop.form.rating}">Rating:</label><br>
        <input type="number" id="rating" name="rating" min="0" max="50" th:value="${coffeeShop.rating}"><br><br>

        <button type="submit" class="btn" th:text="#{coffeeShop.form.save}">Save</button>
    </form>
    <br>
    <a href="/coffee-shops" th:text="#{coffeeShop.form.back}">Back to list</a>

    <!--Attach footer-->
    <div th:replace="~{fragments/footer.html :: footer}"></div>

</div>
</body>
</html>
