<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>404 - Страница не найдена</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="error-page">
<div class="error-container">
    <img src="/images/error_404.webp" alt="404" class="error-image">
    <h1 class="error-title">404 - Страница не найдена</h1>
    <p class="error-text">Возможно, вы ошиблись адресом.</p>
    <a href="/" class="error-link">Вернуться на главную</a>
</div>
</body>
</html>
