<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>500 - Внутренняя ошибка сервера</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="error-page">
<div class="error-container">
    <img src="/images/error_500.webp" alt="Ошибка 500" class="error-image">
    <h1 class="error-title">500 - Внутренняя ошибка сервера</h1>
    <p class="error-text">Что-то пошло не по плану. Пожалуйста, повторите попытку позже.</p>
    <a href="/" class="error-link">Вернуться на главную</a>
</div>
</body>
</html>
