<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{error.title}">Ошибка</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="error-page">
<div class="error-container">
    <img src="/images/error.webp" alt="Error" class="error-image">
    <h1 class="error-title" th:text="#{error.generic}">An error occurred</h1>
    <p class="error-text" th:if="${message != null}" th:text="${message}">An error occurred while processing your request.</p>
    <p class="error-text" th:if="${message == null}" th:text="#{error.message}">An error occurred while processing your request.</p>
    <p class="error-text" th:if="${status != null}" th:text="#{error.errorCode(${status})}">Error code: <span th:text="${status}"></span></p>
    <a href="/" class="error-link" th:text="#{error.homeLink}">Return to Home</a>
</div>
</body>
</html>