<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page-container">
    <h1>Регистрация</h1>

    <form th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data">
        <div>
            <label for="avatarFile" class="custom-file-upload">Загрузить аватар</label>
            <input type="file" id="avatarFile" name="avatarFile" accept="image/*" onchange="validateFileSize(event)"/>
            <div class="warning-message">Максимальный размер файла: 2 МБ</div>
            <div id="avatarPreview" style="margin-top: 10px;">
                <img id="previewImage" src="#" alt="Предварительный просмотр"
                     style="display: none; width: 150px; height: 150px;"/>
            </div>
        </div>

        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" th:field="*{name}" />
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" />
            <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" th:field="*{login}" />
            <span class="error-message" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" />
            <span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn">Зарегистрироваться</button>
            <span class="error-message" th:text="${registrationError}"></span>
        </div>
    </form>

    <a href="/">На главную</a>

    <!--Attach footer-->
    <div th:replace="fragments/footer.html :: footer"></div>

</div>
<script src="/js/avatar-upload.js"></script>
</body>
</html>
